{% extends "base.html" %}
{% load static %}

{% block content %}
<h4 style="color:blue;text-align:center;text-decoration:underline"> Движения денежных средств(ДДС)</h4>


        <!--  Форма записи данных -->  
<form  method="get" class="row lg-12" style="text-align:left;color:blue">
    <div class="col-12">
      <label class="form-label">Дата с:</label>
      <input type="date" name="date_from" class="form-control" value={{ filters.date_from}}>
    </div>
    <div class="col-12">
        <label class="form-label">Дата по:</label>
        <input type="date" name="date_to" class="form-control" value={{ filters.date_to}}>
    </div>
    <div class="col-12">
      <label class="form-label">Статус</label>
      
      <select name="status" class="form-select">
        <option value="">Все статусы переводов</option>
        <option value="">статус_1</option>
        <option value="">статус_2</option>
        <!--  Проверка фильтрация -->  
        {% for s in statuses %}
          <option value="{{ s.id }}" {% if filters.status == s.id|stringformat:"s" %}selected{% endif %}>{{ s.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12">
        <label class="form-label">Тип транзакций</label>
        <select name="type" class="form-select">
          <option value="">Все типы транзакзиций</option>
          <option value="">тип_1</option>
          <option value="">тип_2</option>  
            <!--  Проверка фильтрация -->  
          {% for t in types %}
            <option value="{{ t.id }}" {% if filters.type == t.id|stringformat:"t" %}selected{% endif %}>{{ t.name }}</option>
          {% endfor %}
        </select>
      </div>
    <div class="col-12">
        <label class="form-label">Категория</label>
        <select name="category" class="form-select">
          <option value="">Все категории</option>
          <option value="">категория_1</option>
          <option value="">категория_2</option>
            <!--  Проверка фильтрация -->  
          {% for c in categories %}
            <option value="{{ c.id }}" {% if filters.status == c.id|stringformat:"c" %}selected{% endif %}>{{ c.name }}</option>
          {% endfor %}
        </select>  
    </div>
    <div class="col-12">
        <label class="form-label">Подкатегория</label>
        <select name="subcategory" class="form-select">
          <option value="">Все подкатегории</option>
          <option value="">Подкатегории_1</option>
          <option value="">подкатегория_2</option>
            <!--  Проверка фильтрация -->  
          {% for subc in subcategories %}
            <option value="{{ subc.id }}" {% if filters.status == subc.id|stringformat:"subc" %}selected{% endif %}>{{ subc.name }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-12" style="margin:10px">
        <button  type="submit" class="btn btn-info" title="Просмотр записи по фильтрам">Фильтрация</button>
    </div>
</form>

<!--  Создание таблицы с данными -->  
<table class="table table-striped">
    <thead>
        <tr>
            <th style="border: 1px solid blue">Дата</th>
            <th style="border: 1px solid blue">Статус</th>
            <th style="border: 1px solid blue">Тип</th>
            <th style="border: 1px solid blue">Категория</th>
            <th style="border: 1px solid blue">Подкатегория</th>
            <th style="border: 1px solid blue">Сумма</th>
            <th style="border: 1px solid blue">Комментарий</th>
        </tr>
    </thead>
    <tbody> 
        <!--  написание цикла --> 
        {% for t in transactions %}
        <tr>
            <td>{{ t.date}}</td>
            <td>{{ t.status.name}}</td>
            <td>{{ t.transactions_type.name}}</td>
            <td>{{ t.category.name}}</td>
            <td>{{ t.subcategory.name }}</td>
            <td>{{ t.summa }}</td>
            <td>{{ t.comment }}</td>
            <td>
              <a href="{% url "main:transaction_edit" t.id %}" class="btn btn-secondary" style="border: 1px solid black">отредактировать</a>
              <a href="{% url "main:transaction_delete" t.id %}"  class="btn btn-danger" style="border: 1px solid black">Удалить</a>
            </td>
        </tr>    
        {% endfor %}
    </tbody>
</table>
{% block footer %}
<footer class="py-4 bg-primary">
    <div class="container">
        <p class="m-0 text-center text-white">Приложение/ Переводы 💵💲 разработано для студии IT-Solutions в 2025г</p>
    </div>
</footer>
{% endblock footer %}
{% endblock content %}

